@import url("https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu");

#__next {
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pyidaungsu" !important;
  overflow-x: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.slick-arrow {
  background-size: 6px;
  width: 34px;
  border-radius: 50px;
  height: 34px;
  margin: 0 8px;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border: 1px solid #e4e7ea;
  z-index: 9;
}

.linkHref {
  text-decoration: none !important;
}

.linkHref:hover {
  color: #007bff !important;
}

.action-banner-dashed {
  padding: 12px;
  margin: 30px auto;
  border: 1px dashed #aaaaaa;
  border-radius: 4px;
}

.header-boxshadow {
  /* background-image: linear-gradient(
    to right top,
    #fdc830,
    #feb32b,
    #fd9d2c,
    #f98830,
    #f37335
  ); */

  background-color: #fdc830;
}
