.pro-nav-thumb {
  width: 98px;
}

.image-thumb {
  padding: 10px;
  cursor: pointer;
}
.image-thumb img {
  border: 1px solid #ebebeb;
}


/* /product/new.js */
.product-image-banner {
  padding: 12px;
  border: 1px dashed #aaaaaa;
  border-radius: 4px;
}